.flag-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 25px;
}

.flag {
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  border-radius: 50%;
}

.flag:hover {
  transform: scale(1.05);
}

.flag.active {
  opacity: 1;
}
