body {
  margin: 0;
  background-color: #fff3e7;
  color: #f8f1e1;
  font-family: 'poppins-medium';
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-image: url('../public/images/background.png');
}

