@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Playfair+Display:wght@700&display=swap');

body {
  margin: 0;
  background-color: #1b0a0a; /* მუქი ღვინისფერი ფონი */
  color: #f8f1e1;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

