.bottle-design-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}
textarea {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 180px;
  resize: vertical;
  font-family: inherit;
  text-align: center;
}
h1{
  text-align: center;
}
.container {
  text-align: center;
  margin-top: 20px;
  margin-right: 150px;
}

.label-group {
  margin-bottom: 30px;
}

label, p {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Georgia, serif;
  font-size: 20px;
}
.wine-customizer-wrapper {
  width: 80%;
}
.color-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.color-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border: 2px solid #ccc;
  pointer-events: all;
}

.color-circle.selected {
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.color-checkmark {
  color: white;
  font-size: 20px;
}
.bottle-design-section{
  margin-top: 130px;
}

.upload-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .bottle-design-container{
    margin-top: -20px;
    display: block;
  }
  .wine-customizer-wrapper {
    width: 100%;
  }
  .container{
    margin-right: unset;
  }
  .color-options {
    flex-direction: row;
  }
  .bottle-design-section {
    margin-top: 0;
  }
}