@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600&display=swap');

.home-container {
    background-color: #fff3e7;
    color: #f8f4f0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 100px;
    background-image: url('../../../public/images/background.png');
}

.home-subtitle {
    font-size: 32px;
    color: #ca9d4f;
    font-weight: 400;
    font-family: 'poppins-medium';
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
   .home-subtitle {
    font-size: 24px;
   }
}