.canvas-container {
  width: 75% !important;
  height: 800px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background-image: url('../../../public/images/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  overflow: hidden;
  pointer-events: auto;
}

@media (max-width: 768px) and (orientation: portrait) {
  .canvas-container {
    width: 80% !important;
    height: 450px !important;
    border-radius: 20px;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  .canvas-container { 
    background-position: 35% 30%;
    top: 20px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .canvas-container {
    height: 350px !important;
    top: 20px;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  .canvas-container {
    top: 20px;
  }
}