.canvas-container {
  width: 60% !important;
  height: 75vh !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background-image: url('../../../public/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  overflow: hidden;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .canvas-container {
    width: 90% !important;
    height: 65vh !important;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .canvas-container {
    background-position: 35% 30%;
  }
}
