.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.swiper {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 67%;
  height: 580px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ca9d4f !important;
  width: 42px;
  height: 68px;
  background-size: contain;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .swiper-slide img {
    height: 400px;
  }
  .swiper{
    width: 80%;
  }
  .swiper-slide img{
    width: 70%;
  }
}