.wine-page {
  padding: 20px 20px;
  background-image: url('../../../public/images/background.png');
  text-align: center;
}

.wine-page h1 {
  font-family: 'poppins-medium';
  color: #ca9d4f;
  margin-bottom: 40px;
}

.wine-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.wine-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.wine-card:hover {
    transform: translateY(-5px);
}

.wine-card img {
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
}

.wine-card h2 {
    font-size: 24px;
    font-family: 'poppins-medium';
    color: #ca9d4f;
    margin: 15px 0 10px;
}

.wine-card p {
  font-size: 14px;
  color: #4a2e1e;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #2e1c14;
  font-size: 16px;
}


@media (max-width: 768px) {
   .wine-page h1 {
    font-size: 24px;
   }
}