.App-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #734142;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.App-nav a {
  text-decoration: none;
  color: #ca9d4f;
  margin: 0 10px;
  font-size: 20px;
  font-family: 'poppins-medium';
  line-height: 45px;
}

.App-nav a:hover {
  color: #e6b800;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: #721817;
}

.menu {
  display: flex;
  position: relative;
  left: -50px;
  gap: 12px;
}
.divider{
  background-color: rgb(202, 157, 79);
  position: relative;
  top: 14px;
  width: 1px;
  height: 16px;
  opacity: 0.4;
}
.auth-buttons {
  display: flex;
  gap: 5px;
  position: relative;
  top: -5px;
  left: 15px;
}
.auth-buttons button {
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fdf5f1;
  position: relative;
  top: 13px;
}

.auth-buttons button:hover {
  transform: translateY(-3px);
  filter: brightness(1.1);
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  position: absolute;
  left: -5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #f8f1e1;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5px;
}
.title {
  display: flex;
  margin-left: 10px;
}
.header-logo {
  background-image: url(../../../public/images/headerlogo.png);
  width: 45px;
  height: 53px;
  background-size: cover;
  position: relative;
  top: -5px;
}
.home-title {
  font-family: 'BPG';
  font-size: 32px;
  color: #ca9d4f;
  position: relative;
  top: 5px;
  left: 12px;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #734142;
  border-radius: 12px;
  padding: 0px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.mobile-menu a {
  display: block;
  padding: 10px 16px;
  margin-bottom: 6px;
  text-decoration: none;
  color: #f8f1e1;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.2s;
}

.mobile-menu a:hover {
  background-color: #721817;
  transform: scale(1.03);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #f8f1e1;
}

.user-info span {
  font-size: 16px;
}

.user-info button {
  padding: 5px 10px;
  background: #721817;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login {
  background: url(../../../public/images/login.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.signup {
  background: url(../../../public/images/signup.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.logout {
  background: url(../../../public/images/logout.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
/* ჰედერი და მობილური */
@media (max-width: 768px) {
  .auth-buttons{
    top: -5px;
    left: 0;
  }
  .auth-buttons button:hover {
    transform: translateY(0);
  }
  .auth-buttons button {
    font-size: 12px;
    top: 8px;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #2e0f0f;
    border-radius: 8px;
    padding: 15px;
  }

  .menu.open {
    display: flex;
    z-index: 2;
  }

  .App-nav a {
    margin: 10px 0;
  }

  .App-nav {
    justify-content: left;
  }
  .home-title {
    font-size: 23px;
  }
  .header-logo {
    width: 38px;
    height: 44px;
  }
  .title {
    margin-left: 30px;
  }
  .flag-container{
    margin-left: 5px;
    gap: 8px;
  }
  .divider {
    display: none;
  }
}
